@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  font-style : normal;
  font-weight: normal;
  src : url("/fonts/AvenirNextLTPro-Demi.otf") format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  font-style: normal;
  font-weight: normal;
  src : url("/fonts/AvenirNextLTPro-Regular.otf") format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTstd-95Black';
  font-style: normal;
  font-weight: normal;
  src : url("/fonts/avenir-lt-std-95-black.otf") format('truetype');
}